<section class="bg-img">
<div class="container url-short">
  <h1 class="title">URL Shorterner !</h1>
</div>
<div class="form">
  <form action="/url" method="post">
    {{!--
    <label for="url">url</label> --}}
    <input type="url" name="longurl" id="url" placeholder="Paste Your URL here!">

<button type="submit" class="btn btn-dark">Send URL!</button>
    {{!-- <button type="submit">Send Url</button> --}}
  </form>
</div>


</section>