
<div class="container">
<img src="/images/paper_clip.jpg" alt="paper-clip">

<h1>The link is </h1><a href=" http://localhost:3000/{{url.shorturl}}"><h1>http://localhost:3000/{{url.shorturl}}</h1> </a>

</div>